<h1>Login</h1>

<form action="/login" method="POST" class="form" id="createAccount">
    <h1 class="form__title"></h1>
    <div class="form__message form__message--error"></div>
    
    <div class="form__input-group">
        <input type="text" class="form__input" autofocus placeholder="Email address" name="email">
    </div>

    <div class="form__input-group">
        <input type="password" class="form__input" autofocus placeholder="Password" name="password">
    </div>
    <button class="form__button" type ="submit">Login</button>

    <p class="form__text">
        <a class="form__link" href="/signup" id="linkLogin">You don't have an account yet? Create one here</a>
    </p>

</form>
